version: '3.8'

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - ./server:/app
      - /app/node_modules
      - celestask-data:/app/data
    environment:
      - NODE_ENV=development
    command: node index.js

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - BACKEND_HOST=backend
      - BACKEND_PORT=19096
    command: npm run dev
